<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.core.qi4j.moduleAssemblers" name="moduleAssemblers" schema="schema/org.polymap.core.qi4j.moduleAssemblers.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.polymap.core.model.ui.ACLPropertiesPage"
            id="org.polymap.core.model.ui.ACLPropertiesPage"
            name="%propsPage_acl">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.polymap.core.model.ACL">
               </instanceof>
               <adapt
                     type="org.polymap.core.model.ACL">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>

</plugin>
