<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.service.fs.contentProviders" name="Content Providers" schema="schema/org.polymap.service.fs.contentProviders.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/webdav"
            class="org.polymap.service.fs.webdav.WebDavServer"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.polymap.service.fs.contentProviders">
      <contentProvider
            class="org.polymap.service.fs.providers.file.FsContentProvider"
            id="org.polymap.service.fs.FsContentProvider"
            name="Disk">
      </contentProvider>
   </extension>

</plugin>
