<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.core.mapeditor.mapContextMenu" name="MapContextMenu" schema="schema/org.polymap.core.mapEditor.mapContextMenu.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polymap.core.mapeditor.MapEditor"
            contributorClass="org.polymap.core.mapeditor.ui.MapEditorActionBarContributor"
            default="false"
            icon="icons/eview16/map_edit.gif"
            id="org.polymap.core.mapeditor.MapEditor"
            name="%Map">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polymap.core.mapeditor.actions.OpenMapHandler"
            commandId="org.polymap.core.project.command.openMap">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.core.mapeditor.layersViewContribution"
            targetID="org.polymap.core.project.MapLayersView">
         <action
               class="org.polymap.core.mapeditor.actions.SetLayerBoundsAction"
               disabledIcon="icons/dlcl16/zoom_layer_co.gif"
               enablesFor="+"
               icon="icons/elcl16/zoom_layer_co.gif"
               id="org.polymap.core.mapeditor.action.zoomToLayer"
               label="%actions_zoomToLayer"
               style="push"
               toolbarPath="mapEditor">
         </action>
      </viewContribution>
      <viewContribution
            id="org.polymap.core.mapeditor.geoSelectionContribution"
            targetID="org.polymap.core.data.ui.featureselection.GeoSelectionView">
         <action
               class="org.polymap.core.mapeditor.actions.DeleteFeaturesAction"
               enablesFor="+"
               icon="icons/etool16/delete_edit.gif"
               id="org.polymap.core.mapeditor.action.deleteFeature"
               label="label"
               style="push"
               toolbarPath="features"
               tooltip="%actions_deleteFeaturesTip">
         </action>
         <action
               class="org.polymap.core.mapeditor.actions.ZoomFeaturesAction"
               enablesFor="+"
               icon="icons/elcl16/zoom_layer_co.gif"
               id="org.polymap.core.mapeditor.action.zoomFeatures"
               label="label"
               style="push"
               toolbarPath="features"
               tooltip="%actions_zoomFeaturesTip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.core.mapeditor.layersContribution"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.core.mapeditor.actions.SetLayerBoundsAction"
               enablesFor="1"
               icon="icons/elcl16/zoom_layer_co.gif"
               id="org.polymap.core.mapeditor.action.zoomToLayer_layers"
               label="%actions_zoomToLayer"
               style="push">
         </action>
         <!--action
               class="org.polymap.core.mapeditor.edit.SetLayerEditableAction"
               enablesFor="+"
               icon="icons/etool16/edit_vertex_mode.gif"
               id="org.polymap.core.mapeditor.action.editFeatures_layers"
               label="%actions_editFeaturesMode"
               style="toggle"
               tooltip="%actions_editFeaturesModeTip">
         </action-->
         <!--action
               class="org.polymap.core.mapeditor.selection.SetLayerSelectableAction"
               enablesFor="+"
               icon="icons/etool16/tb_buffer_fence.gif"
               id="org.polymap.core.mapeditor.action.selectFeatures_layers"
               label="%actions_selectFeaturesMode"
               style="toggle">
         </action-->
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.polymap.core.mapeditor.MapEditorContribution"
            targetID="org.polymap.core.mapeditor.MapEditor">
         <action
               class="org.polymap.core.mapeditor.edit.SnapEditorAction"
               icon="icons/etool16/snap_target.gif"
               id="org.polymap.core.mapeditor.action.snap_editor"
               label="%actions_snap"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_snap">
         </action>
         <!--action
               class="org.polymap.core.mapeditor.edit.DeleteFeatureEditorAction"
               icon="icons/etool16/remove_vertext_mode.gif"
               id="org.polymap.core.mapeditor.action.deleteFeatures_editor"
               label="%actions_deleteFeatures"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_deleteFeatures">
         </action-->
         <action
               class="org.polymap.core.mapeditor.edit.DrawFeatureEditorAction"
               icon="icons/etool16/new_line_mode.gif"
               id="org.polymap.core.mapeditor.action.drawFeatures_editor"
               label="%actions_drawFeatures"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_drawFeatures">
         </action>
         <action
               class="org.polymap.core.mapeditor.edit.ModifyFeatureEditorAction"
               icon="icons/etool16/edit_vertex_mode.gif"
               id="org.polymap.core.mapeditor.action.modifyFeatures_editor"
               label="%actions_modifyFeatures"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_modifyFeatures">
         </action>
         <!--action
               class="org.polymap.core.mapeditor.actions.CancelEditLayersAction"
               icon="icons/elcl16/remove_co.gif"
               id="org.polymap.core.mapeditor.action.cancelEdit_editor"
               label="%actions_cancelEdit"
               style="push"
               toolbarPath="mouseMode"
               tooltip="%actions_cancelEdit">
         </action-->
         <!--action
               class="org.polymap.core.mapeditor.edit.ModifyFeatureAction"
               icon="icons/etool16/edit_vertex_mode.gif"
               id="org.polymap.core.mapeditor.action.editFeatures_editor"
               label="%actions_editFeatures"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_editFeatures">
         </action-->
         <action
               class="org.polymap.core.mapeditor.selection.SelectFeatureEditorAction"
               icon="icons/etool16/layer_selectable.gif"
               id="org.polymap.core.mapeditor.action.selectFeatures_editor"
               label="%actions_selectFeatures"
               style="toggle"
               toolbarPath="mouseMode"
               tooltip="%actions_selectFeatures">
         </action>
         <action
               class="org.polymap.core.mapeditor.navigation.PanZoomEditorAction"
               icon="icons/etool16/pan_mode.gif"
               id="org.polymap.core.mapeditor.action.panZoom_editor"
               label="%actions_panZoom"
               style="toggle"
               toolbarPath="mouseMode">
         </action>
         <action
               class="org.polymap.core.mapeditor.navigation.ForwardEditorAction"
               icon="icons/etool16/forward_nav.gif"
               id="org.polymap.core.mapeditor.action.mapForward_editor"
               label="%actions_mapForwardTip"
               style="push"
               toolbarPath="mouseMode"
               tooltip="%actions_mapForwardTip">
         </action>
         <action
               class="org.polymap.core.mapeditor.navigation.BackwardEditorAction"
               icon="icons/etool16/backward_nav.gif"
               id="org.polymap.core.mapeditor.action.mapBack_editor"
               label="%actions_mapBackwardTip"
               style="push"
               toolbarPath="mouseMode"
               tooltip="%actions_mapBackwardTip">
         </action>
         <action
               class="org.polymap.core.mapeditor.actions.SetLayerBoundsAction"
               icon="icons/elcl16/zoom_layer_co.gif"
               id="org.polymap.core.mapeditor.ZoomToLayerAction"
               label="%actions_zoomToLayer"
               style="push"
               toolbarPath="mouseMode"
               tooltip="%actions_zoomToLayer">
         </action>
         <action
               class="org.polymap.core.mapeditor.navigation.MaxExtendEditorAction"
               icon="icons/etool16/zoom_extent_co.gif"
               id="org.polymap.core.mapeditor.action.mapMaxExtent_editor"
               label="%actions_mapMaxExtent"
               style="push"
               toolbarPath="mouseMode"
               tooltip="%actions_mapMaxExtentTip">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.core.mapeditor.selection.LayerSelectableOperationConcern"
            id="org.polymap.core.mapeditor.LayerSelectableOperationConcern">
      </concern>
      <concern
            class="org.polymap.core.mapeditor.edit.LayerEditableOperationConcern"
            id="org.polymap.core.mapeditor.LayerEditableOperationConcern">
      </concern>
   </extension>
   <extension
         point="org.polymap.core.mapeditor.mapContextMenu">
      <contribution
            class="org.polymap.core.mapeditor.contextmenu.FirstContribution"
            id="org.polymap.core.mapeditor.contextmenu.FirstContribution">
      </contribution>
      <contribution
            class="org.polymap.core.mapeditor.contextmenu.LayerSelectableContribution"
            id="org.polymap.core.mapeditor.contextmenu.LayerSelectableContribution">
      </contribution>
   </extension>
   <!--extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.polymap.core.mapeditor.ui.EditLayerDecorator"
            id="org.polymap.core.mapeditor.ui.EditLayerDecorator"
            label="EditLayer"
            lightweight="true"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.polymap.core.project.ILayer">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension-->

</plugin>
