<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.core.mapeditor.mapContextMenu" name="MapContextMenu" schema="schema/org.polymap.core.mapEditor.mapContextMenu.exsd"/>
   <extension-point id="org.polymap.core.mapeditor.editorTools" name="EditorTool" schema="schema/org.polymap.core.mapeditor.editorTool.exsd"/>
   <!--extension
         point="org.polymap.core.mapeditor.editorTools">
      <tool
            class="org.polymap.core.mapeditor.tooling.navi.NavigationTool"
            description="%tools_navi_description"
            icon="icons/etool16/pan_mode.gif"
            id="org.polymap.core.mapeditor.NavigationTool"
            label="%tools_navi_label"
            toolPath="navigation"
            tooltip="%tools_navi_tip">
      </tool>
      <tool
            class="org.polymap.core.mapeditor.tooling.select.SelectionTool"
            description="%tools_select_description"
            icon="icons/etool16/layer_selectable.gif"
            id="org.polymap.core.mapeditor.SelectionTool"
            label="%tools_select_label"
            toolPath="selection"
            tooltip="%tools_select_tip">
      </tool>
      <tool
            class="org.polymap.core.mapeditor.tooling.edit.EditTool"
            description="%tools_edit_description"
            icon="icons/etool16/layer_editable.gif"
            id="org.polymap.core.mapeditor.EditTool"
            label="%tools_edit_label"
            toolPath="edit"
            tooltip="%tools_edit_tip">
      </tool>
      <tool
            class="org.polymap.core.mapeditor.tooling.edit.SnapTool"
            description="%tools_snap_description"
            icon="icons/etool16/snap_target.gif"
            id="org.polymap.core.mapeditor.EditSnapTool"
            label="%tools_snap_label"
            toolPath="edit/snap"
            tooltip="%tools_snap_tip">
      </tool>
      <tool
            class="org.polymap.core.mapeditor.tooling.edit.DigitizeTool"
            description="%tools_digitize_description"
            icon="icons/etool16/new_line_mode.gif"
            id="org.polymap.core.mapeditor.DigitizeTool"
            label="%tools_digitize_label"
            toolPath="digitize"
            tooltip="%tools_digitize_tip">
      </tool>
      <tool
            class="org.polymap.core.mapeditor.tooling.edit.SnapTool"
            description="%tools_snap_description"
            icon="icons/etool16/snap_target.gif"
            id="org.polymap.core.mapeditor.DigitizeSnapTool"
            label="%tools_snap_label"
            toolPath="digitize/snap"
            tooltip="%tools_snap_tip">
      </tool>
   </extension-->
</plugin>
