<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.core.catalog.resolverProviders">
      <resolver
            class="org.polymap.core.data.wms.catalog.WmsServiceResolverProvider">
      </resolver>
      <resolver
            class="org.polymap.core.data.wfs.catalog.WfsServiceResolverProvider">
      </resolver>
   </extension>

</plugin>
