.cm-s-eclipse span.cm-meta {color: #FF1717;}
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #400060; }
.cm-s-eclipse span.cm-atom {color: #219;}
.cm-s-eclipse span.cm-number {color: #164;}
.cm-s-eclipse span.cm-def {color: #00f;}
.cm-s-eclipse span.cm-variable {color: black;}
.cm-s-eclipse span.cm-variable-2 {color: #0000C0;}
.cm-s-eclipse span.cm-variable-3 {color: #0000C0;}
.cm-s-eclipse span.cm-property {color: black;}
.cm-s-eclipse span.cm-operator {color: black;}
.cm-s-eclipse span.cm-comment {color: #DB7815; font-style:italic;}
.cm-s-eclipse span.cm-string {color: #11AC06;}
.cm-s-eclipse span.cm-string-2 {color: #f50;}
/*.cm-s-eclipse span.cm-error {color: #f00;}*/
.cm-s-eclipse span.cm-qualifier {color: #555;}
.cm-s-eclipse span.cm-builtin {color: #30a;}
.cm-s-eclipse span.cm-bracket {color: #cc7;}
.cm-s-eclipse span.cm-tag {color: #170;}
.cm-s-eclipse span.cm-attribute {color: #00c;}
.cm-s-eclipse span.cm-link {color: #219;}
.cm-s-eclipse span.cm-error {border-bottom: 1px solid red;}
.cm-s-eclipse span.cm-warn {border-bottom: 1px solid #EBC609;}
.cm-s-eclipse span.cm-info {}

.cm-s-eclipse .CodeMirror-matchingbracket {
	/*border:1px solid grey;*/
	color:red !important;
	font-weight:bold;
}
.CodeMirror-completions {
    box-shadow: 0px 2px 4px #a0a0a0;
    background: white;
    margin: 1px;
}
.CodeMirror-gutter {
    width: 3em;
    /*background: white;*/
}