span.c-like-keyword {
  color: #45a;
  font-weight: bold;
}
span.c-like-comment {
  color: #c50;
}
span.c-like-number {
  color: #1a1;
}
span.c-like-string {
  color: #1a1;
}
span.c-like-preprocessor {
  color: #049;
}
span.c-like-var {
  color: #22b;
}
