<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ICatalog">
      <catalog
            class="org.polymap.core.catalog.qi4j.CatalogImpl">
      </catalog>
   </extension>
   <extension
         id="org.polymap.core.catalog.qi4j.assambler"
         point="org.polymap.core.qi4j.moduleAssemblers">
      <assembler
            class="org.polymap.core.catalog.CatalogRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.core.catalog.catalogContribution"
            objectClass="net.refractions.udig.catalog.ICatalog">
         <action
               class="org.polymap.core.catalog.actions.PropertyDialogAction"
               id="org.polymap.core.catalog.catalogProperties"
               label="%actions_properties"
               menubarPath="properties"
               tooltip="%actions_catalogProperties">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.polymap.core.catalog.serviceContribution"
            objectClass="net.refractions.udig.catalog.IService">
         <action
               class="org.polymap.core.catalog.actions.PropertyDialogAction"
               id="org.polymap.core.catalog.serviceProperties"
               label="%actions_properties"
               menubarPath="properties"
               tooltip="%actions_serviceProperties">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.refractions.udig.catalog.IService"
            class="org.polymap.core.catalog.qi4j.ServiceAdapterFactory">
         <adapter
               type="org.polymap.core.model.ACL">
         </adapter>
      </factory>
   </extension>
   <!--extension
         point="net.refractions.udig.catalog.resolvers">
      <factory
            class="org.polymap.core.catalog.qi4j.ServiceAdapterFactory"
            resolveableType="net.refractions.udig.catalog.IService">
         <resolve
               type="org.polymap.core.model.ACL">
         </resolve>
      </factory>
   </extension-->

</plugin>
