<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.polymap.core.project.ViewCategory"
            name="%views_category">
      </category>
      <view
            category="org.polymap.core.project.ViewCategory"
            class="org.polymap.core.project.ui.project.ProjectView"
            icon="icons/eview16/project_view.gif"
            id="org.polymap.core.project.ProjectView"
            name="%views_maps"
            restorable="true">
      </view>
      <view
            category="org.polymap.core.project.ViewCategory"
            class="org.polymap.core.project.ui.layer.LayerNavigator"
            icon="icons/eview16/layer_view.gif"
            id="org.polymap.core.project.LayerNavigator"
            name="%views_layers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.core.project.LayerNavigatorContribution"
            targetID="org.polymap.core.project.LayerNavigator">
         <action
               class="org.polymap.core.project.ui.layer.LayerEditableStatusAction"
               enablesFor="1"
               icon="icons/etool16/layer_editable.gif"
               id="org.polymap.rhei.action3"
               label="%actions_layerEditableStatus"
               state="false"
               style="toggle"
               toolbarPath="xlayer"
               tooltip="%actions_layerEditableStatusTip">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.LayerSelectableStatusAction"
               enablesFor="+"
               icon="icons/etool16/layer_selectable.gif"
               id="org.polymap.rhei.action2"
               label="%actions_layerSelectableStatus"
               state="false"
               style="toggle"
               toolbarPath="xlayer"
               tooltip="%actions_layerSelectableStatusTip">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.LayerVisibleStatusAction"
               enablesFor="+"
               icon="icons/elcl16/eye.png"
               id="org.polymap.rhei.action1"
               label="%actions_layerVisibleStatus"
               state="false"
               style="toggle"
               toolbarPath="xlayer"
               tooltip="%actions_layerVisibleStatusTip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.polymap.core.project.dataPerspective">
         <view
               id="org.polymap.core.project.ProjectView"
               minimized="false"
               relationship="stack"
               visible="true">
         </view>
         <viewShortcut
               id="org.polymap.core.project.ProjectView">
         </viewShortcut>
         <view
               id="org.polymap.core.project.LayerNavigator"
               minimized="false"
               relationship="stack"
               visible="true">
         </view>
         <viewShortcut
               id="org.polymap.core.project.LayerNavigator">
         </viewShortcut>
         <newWizardShortcut
               id="org.polymap.core.project.ui.NewMapWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polymap.core.project.ui.ProjectPerspective"
            icon="icons/eview16/project_view.gif"
            id="org.polymap.core.project.dataPerspective"
            name="%perspectives_adhoc">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%actions_addLayerToMap"
            id="org.polymap.core.project.command.addLayerToMap"
            name="%actions_addLayerToMap">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polymap.core.project.ui.AddLayerFromCatalogHandler"
            commandId="org.polymap.core.project.command.addLayerToMap">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:net.refractions.udig.catalog.ui.CatalogView">
         <command
               commandId="org.polymap.core.project.command.addLayerToMap"
               icon="icons/etool16/addlayer_wiz.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.polymap.core.project.ui.newWizardCategory"
            name="%wizards_mapsAndLayers">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.polymap.core.project.ui.newWizardCategory"
            class="org.polymap.core.project.ui.project.NewMapWizard"
            descriptionImage="icons/wizban/newmap_wiz.gif"
            icon="icons/etool16/newmap_wiz.gif"
            id="org.polymap.core.project.ui.NewMapWizard"
            name="%wizards_newMap">
      </wizard>
      <primaryWizard
            id="org.polymap.core.project.ui.NewMapWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.core.project.layerContribution"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.core.project.ui.PropertiesAction"
               id="org.polymap.core.project.action.properties"
               label="%actions_properties"
               menubarPath="properties"
               style="push"
               tooltip="%actions_properties">
         </action>
         <action
               class="org.polymap.core.project.ui.PropertyDialogAction"
               id="org.polymap.core.project.action.propertiesDialog"
               label="%actions_propertiesDialog"
               menubarPath="properties"
               style="push"
               tooltip="%actions_propertiesDialog">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.RemoveLayerAction"
               enablesFor="+"
               icon="icons/etool16/delete.gif"
               id="org.polymap.core.project.action.removeLayer"
               label="%actions_deleteLayer"
               style="push"
               tooltip="%actions_deleteLayer">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.LayerSelectableStatusAction"
               enablesFor="+"
               icon="icons/etool16/layer_selectable.gif"
               id="org.polymap.core.project.LayerSelectableStatusAction"
               label="%actions_layerSelectableStatus"
               state="false"
               style="toggle"
               tooltip="%actions_layerSelectableStatusTip">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.LayerEditableStatusAction"
               enablesFor="1"
               icon="icons/etool16/layer_editable.gif"
               id="org.polymap.core.project.LayerEditableStatusAction"
               label="%actions_layerEditableStatus"
               state="false"
               style="toggle"
               tooltip="%actions_layerEditableStatus">
         </action>
         <action
               class="org.polymap.core.project.ui.layer.LayerVisibleStatusAction"
               enablesFor="+"
               icon="icons/etool16/layer_visible.png"
               id="org.polymap.core.project.LayerVisibleStatusAction"
               label="%actions_layerVisibleStatus"
               state="false"
               style="toggle"
               tooltip="%actions_layerVisibleStatusTip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.polymap.core.project.mapContribution"
            objectClass="org.polymap.core.project.IMap">
         <action
               class="org.polymap.core.project.ui.PropertiesAction"
               id="org.polymap.core.project.action.properties"
               label="%actions_properties"
               menubarPath="properties"
               style="push"
               tooltip="%actions_properties">
         </action>
         <action
               class="org.polymap.core.project.ui.PropertyDialogAction"
               id="org.polymap.core.project.action.mapPropertiesDialog"
               label="%actions_propertiesDialog"
               menubarPath="properties"
               style="push"
               tooltip="%actions_propertiesDialog">
         </action>
         <action
               class="org.polymap.core.project.ui.project.RemoveMapAction"
               enablesFor="+"
               icon="icons/etool16/delete.gif"
               id="org.polymap.core.project.action.removeMap"
               label="%actions_deleteMap"
               style="push"
               tooltip="%actions_deleteMap">
         </action>
         <action
               class="org.polymap.core.project.ui.project.OpenMapAction"
               enablesFor="+"
               icon="icons/obj16/mapfolder_obj.gif"
               id="org.polymap.core.project.openMapAction"
               label="%actions_openMap"
               style="push"
               tooltip="%actions_openMapTip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.core.project.ProjectRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.polymap.core.project.ui.EntityModificationDecorator"
            icon="icons/ovr16/write_ovr.gif"
            id="org.polymap.core.project.ui.entityModificationDecorator"
            label="Entity Modification Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.polymap.core.model.Entity">
               </objectClass>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="org.polymap.core.project.ui.layer.LayerStatusDecorator"
            id="org.polymap.rhei.LayerStatusDecorator"
            label="Layer Status"
            lightweight="true"
            objectClass="org.polymap.core.project.ILayer"
            state="true">
      </decorator>
      <decorator
            adaptable="true"
            class="org.polymap.core.project.ui.project.MapStatusDecorator"
            id="org.polymap.core.project.MapStatusDecorator"
            label="Map Status"
            lightweight="true"
            objectClass="org.polymap.core.project.IMap"
            state="true">
      </decorator>
   </extension>
   <!--extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.polymap.core.project.actions.undoRedo"
            label="Merge/Revert"
            visible="true">
         <action
               class="org.polymap.core.project.actions.MergeChangesAction"
               icon="icons/elcl16/right_co.gif"
               id="org.polymap.core.project.action1"
               label="Merge Changes"
               style="push"
               toolbarPath="undo">
         </action>
         <action
               class="org.polymap.core.project.actions.RevertChangesAction"
               icon="icons/dtool16/delete_edit.gif"
               id="org.polymap.core.project.action2"
               label="Revert Changes"
               style="push"
               toolbarPath="undo">
         </action>
      </actionSet>
   </extension-->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.polymap.core.project.ui.properties.LayerBasePropertyPage"
            id="org.polymap.core.project.ui.properties.layerBasePropertyPage"
            name="%propertyPage_general">
         <enabledWhen>
            <instanceof
                  value="org.polymap.core.project.ILayer">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.polymap.core.project.ui.properties.MapBasePropertyPage"
            id="org.polymap.core.project.ui.properties.mapBasePropertyPage"
            name="%propertyPage_general">
         <enabledWhen>
            <instanceof
                  value="org.polymap.core.project.IMap">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="net.refractions.udig.ui.dropAction">
      <action
            class="org.polymap.core.project.ui.dnd.AddLayerToMapDropAction"
            enablesFor="+"
            name="AddLayerToMapDropAction">
         <destination
               class="org.polymap.core.project.ui.project.ProjectView">
         </destination>
         <acceptedType
               adapt="true"
               class="net.refractions.udig.catalog.IGeoResource">
         </acceptedType>
         <destination
               class="org.polymap.core.project.IMap">
         </destination>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
         <destination
               class="org.polymap.core.project.ui.layer.LayerNavigator">
         </destination>
      </action>
      <action
            class="org.polymap.core.project.ui.dnd.LayerOrderDropAction"
            name="SortLayerDropAction">
         <destination
               class="org.polymap.core.project.ui.layer.LayerNavigator">
         </destination>
         <acceptedType
               class="org.polymap.core.project.ILayer">
         </acceptedType>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
      </action>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.core.project.ui.layer.LayerContentProvider"
            id="org.polymap.core.project.layerContent"
            labelProvider="org.polymap.core.project.ui.layer.LayerLabelProvider"
            name="%LayerNavigator_layerContent"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.polymap.core.project.ILayer">
               </instanceof>
               <instanceof
                     value="org.polymap.core.project.IMap">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="org.polymap.core.project.ui.layer.LayerActionProvider">
         </actionProvider>
         <commonSorter
               class="org.polymap.core.project.ui.layer.ZPriorityLayerSorter">
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.viewer">
      <viewer
            viewerId="org.polymap.core.project.LayerNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.polymap.core.project.LayerNavigator">
         <includes>
            <contentExtension
                  pattern="org.polymap.core.project.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.polymap.core.project.LayerNavigator">
         <includes>
            <actionExtension
                  pattern="org.polymap.core.project.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.polymap.core.project.ILayer"
            class="org.polymap.core.project.ui.properties.PropertyProviderAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySourceProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="org.polymap.core.project.IMap"
            class="org.polymap.core.project.ui.properties.PropertyProviderAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySourceProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.core.project.operations.CatalogOperationConcern"
            id="org.polymap.core.project.CatalogOperationConcern">
      </concern>
   </extension>

</plugin>
