<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.core.data.pipeline.processors" name="PipelineProcessors" schema="schema/org.polymap.core.data.pipeline.processors.exsd"/>
   <extension-point id="org.polymap.core.data.pipeline.listeners" name="Pipeline Listeners" schema="schema/org.polymap.core.data.pipeline.listeners.exsd"/>
   <extension-point id="org.polymap.core.data.process.providers" name="Module Providers" schema="schema/org.polymap.core.data.process.providers.exsd"/>
   <extension-point id="org.polymap.core.data.process.fieldIO" name="Input Field Suppliers" schema="schema/org.polymap.core.data.process.fieldIO.exsd"/>
   <extension
         point="org.polymap.core.data.pipeline.processors">
      <processor
            class="org.polymap.core.data.image.ImageGrayscaleProcessor"
            description="%processor_grayscaleDesc"
            id="org.polymap.core.data.image.ImageGrayscaleProcessor"
            isTerminal="false"
            name="%processor_grayscale"
            propertyPage="org.polymap.core.data.image.ImageGrayscaleProcessorConfig">
      </processor>
   </extension>
   <extension
         point="org.polymap.core.data.process.fieldIO">
      <fieldIO
            class="org.polymap.core.data.process.ui.StringSupplier">
      </fieldIO>
      <fieldIO
            class="org.polymap.core.data.process.ui.BooleanSupplier">
      </fieldIO>
   </extension>
</plugin>
