<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.core.data.pipeline.processors" name="PipelineProcessors" schema="schema/org.polymap.core.data.pipeline.processors.exsd"/>
   <extension-point id="org.polymap.core.data.pipeline.listeners" name="Pipeline Listeners" schema="schema/org.polymap.core.data.pipeline.listeners.exsd"/>
   <extension-point id="org.polymap.core.data.featureOperations" name="FeatureOperations" schema="schema/org.polymap.core.data.featureOperations.exsd"/>
   <extension-point id="org.polymap.core.data.csvimport.operations" name="CSV Import Operation" schema="schema/org.polymap.core.data.csvimport.operations.exsd"/>
   <extension-point id="org.polymap.core.data.reports" name="Reports" schema="schema/org.polymap.core.data.reports.exsd"/>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="net.refractions.udig.catalog.ui_p3.dataImportCategory"
            class="org.polymap.core.data.ui.csvimport.CsvImportWizard"
            icon="icons/prop_ps.gif"
            id="org.polymap.core.data.csvimport.CsvImportWizard"
            name="CSV import">
         <description>
            Import a file in the CSV format from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <!--extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Beschreibung"
            id="org.polymap.core.data.createDataActionSet"
            label="Create Test Data"
            visible="false">
         <action
               class="org.polymap.core.data.ui.actions.CreateWmsAction"
               icon="icons/etool16/add_wms.gif"
               id="org.polymap.core.data.CreateWmsAction"
               label="WMS anlegen"
               style="push"
               toolbarPath="createData"
               tooltip="Test: WMS im Katalog anlegen">
         </action>
         <action
               class="org.polymap.core.data.ui.actions.CreateShapesAction"
               icon="icons/etool16/add_shape.gif"
               id="org.polymap.core.data.CreateShapesAction"
               label="Shapes anlegen"
               state="true"
               style="push"
               toolbarPath="createData"
               tooltip="Test: Shapefiles im Katalog anlegen">
         </action>
      </actionSet>
   </extension-->
   <!--extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.polymap.core.project.dataPerspective">
         <actionSet
               id="org.polymap.core.data.createDataActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension-->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.polymap.core.project.ViewCategory"
            class="org.polymap.core.data.ui.featureselection.FeatureSelectionView"
            icon="icons/eview16/table_view.gif"
            id="org.polymap.core.data.FeatureSelectionView"
            name="%views_featureTable"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.polymap.core.project.ViewCategory"
            class="org.polymap.core.data.ui.featuretable.SourceFeatureTableView"
            icon="icons/eview16/table_view.gif"
            id="org.polymap.core.data.SourceFeatureTableView"
            name="%views_sourceFeatureTable"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.core.project.layerContribution"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.core.data.ui.featureselection.FeatureAllSelectionAction"
               enablesFor="+"
               icon="icons/eview16/table_view.gif"
               id="org.polymap.core.data.action.tableView"
               label="%actions_showFeatureTable"
               menubarPath="content"
               style="push"
               tooltip="%actions_showFeatureTable_tip">
         </action>
         <action
               class="org.polymap.core.data.ui.featuretable.SourceFeatureTableAction"
               enablesFor="+"
               icon="icons/eview16/table_view.gif"
               id="org.polymap.core.data.sourceTableView"
               label="%actions_sourceFeatureTable"
               menubarPath="content"
               style="push"
               tooltip="%actions_showFeatureTable_tip">
         </action>
         <!--action
               class="org.polymap.core.data.operations.feature.CopyLayerFeaturesAction"
               enablesFor="1"
               icon="icons/etool16/copy_features.gif"
               id="org.polymap.core.data.CopyLayerFeaturesAction"
               label="%actions_copyFeatures"
               style="push">
         </action-->
         <action
               class="org.polymap.core.data.feature.buffer.RevertBufferAction"
               enablesFor="+"
               icon="icons/etool16/revert_buffer.gif"
               id="org.polymap.core.data.RevertBufferAction"
               label="%actions_revertBuffer"
               menubarPath="buffer"
               state="true"
               style="push">
         </action>
         <action
               class="org.polymap.core.data.feature.buffer.MergeBufferAction"
               enablesFor="+"
               icon="icons/etool16/merge_buffer.gif"
               id="org.polymap.core.data.MergeBufferAction"
               label="%actions_mergeBuffer"
               menubarPath="buffer"
               style="push">
         </action>
         <menu
               id="org.polymap.core.data.menu2"
               label="Feature Operations"
               path="data">
            <separator
                  name="org.polymap.core.data.separator1">
            </separator>
            <groupMarker
                  name="org.polymap.core.data.groupMarker1">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.polymap.core.data.georesContribution"
            objectClass="net.refractions.udig.catalog.IGeoResource">
         <!--action
               class="org.polymap.core.data.operations.feature.CopyFeaturesAction"
               enablesFor="1"
               icon="icons/etool16/copy_features.gif"
               id="org.polymap.core.data.CopyFeaturesAction"
               label="%actions_copyFeatures"
               style="push">
         </action-->
         <action
               class="org.polymap.core.data.operations.featuretype.DeleteFeatureTypeAction"
               icon="icons/etool16/delete.gif"
               id="org.polymap.core.data.DeleteFeatureTypeAction"
               label="%actions_deleteFeatureType"
               tooltip="%actions_deleteFeatureTypeTip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.polymap.core.data.resolveContribution"
            objectClass="net.refractions.udig.catalog.IResolve">
         <action
               class="org.polymap.core.data.operations.featuretype.CreateFeatureTypeAction"
               enablesFor="1"
               icon="icons/etool16/add_featuretype.gif"
               id="org.polymap.core.data.CreateFeatureTypeAction"
               label="%actions_createFeatureType"
               style="push"
               tooltip="%actions_createFeatureTypeTip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.polymap.core.data.ui.PipelinePropertyPage"
            id="org.polymap.core.data.ui.pipelinePropertyPage"
            name="%propertyPage_pipeline">
         <enabledWhen>
            <instanceof
                  value="org.polymap.core.project.ILayer">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.polymap.core.data.pipeline.processors">
      <processor
            class="org.polymap.core.data.feature.memory.FeatureCacheProcessor"
            id="org.polymap.core.data.feature.FeatureCacheProcessor"
            isTerminal="false"
            name="%processor_featureCache">
      </processor>
      <processor
            class="org.polymap.core.data.image.ImageGrayscaleProcessor"
            description="%processor_grayscaleDesc"
            id="org.polymap.core.data.image.ImageGrayscaleProcessor"
            isTerminal="false"
            name="%processor_grayscale"
            propertyPage="org.polymap.core.data.image.ImageGrayscaleProcessorConfig">
      </processor>
      <processor
            class="org.polymap.core.data.feature.typeeditor.FeatureTypeEditorProcessor"
            description="%processor_featureTypeEditorDesc"
            id="org.polymap.core.data.feature.FeatureTypeEditorProcessor"
            isTerminal="false"
            name="%processor_featureTypeEditor"
            propertyPage="org.polymap.core.data.feature.typeeditor.FeatureTypeEditorProcessorConfig">
      </processor>
      <processor
            class="org.polymap.core.data.image.cache304.ImageCacheProcessor"
            description="%processor_imageCache"
            id="org.polymap.core.data.image.cache.ImageCacheProcessor"
            isTerminal="false"
            name="%processor_imageCache"
            propertyPage="org.polymap.core.data.image.cache304.ImageCacheProcessorConfig">
      </processor>
      <processor
            class="org.polymap.core.data.image.ImageTransparencyProcessor"
            id="org.polymap.core.data.image.ImageTransparencyProcessor"
            isTerminal="false"
            name="%processor_transparency"
            propertyPage="org.polymap.core.data.image.ImageTransparencyProcessorConfig">
      </processor>
      <processor
            class="org.polymap.core.data.feature.lucene.LuceneFeatureCacheProcessor"
            id="org.polymap.core.data.feature.lucene.LuceneCacheProcessor"
            isTerminal="false"
            name="%processor_featureCacheLucene">
      </processor>
      <processor
            class="org.polymap.core.data.feature.filter.FeatureFilterProcessor"
            id="org.polymap.core.data.FilterProcessor"
            isTerminal="false"
            name="%processor_featureFilter"
            propertyPage="org.polymap.core.data.feature.filter.FeatureFilterProcessorConfig">
      </processor>
      <processor
            class="org.polymap.core.data.image.cache304.ImageCacheProcessor"
            description="%processor_imageCache304Desc"
            id="org.polymap.core.data.image.cache304.ImageCacheProcessor"
            isTerminal="false"
            name="%processor_imageCache304"
            propertyPage="org.polymap.core.data.image.cache304.ImageCacheProcessorConfig">
      </processor>
   </extension>
   <extension
         point="org.polymap.core.data.pipeline.listeners">
      <listener
            class="org.polymap.core.data.feature.buffer.InstallBufferPipelineListener"
            description="Gets the concurrent stuff working... :)"
            id="org.polymap.core.data.InstallBufferListener"
            name="InstallBufferListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.polymap.core.data.feature.buffer.LayerBufferDecorator"
            id="org.polymap.core.data.LayerBufferDecorator"
            label="Layer Buffer State"
            lightweight="true"
            objectClass="org.polymap.core.project.ILayer"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="net.refractions.udig.catalog.ui_p3.dataImportCategory"
            class="org.polymap.core.data.feature.mdb.MdbImportWizard"
            icon="icons/obj16/msaccess_obj.gif"
            id="org.polymap.core.data.MdbImportWizard"
            name="MS-Access">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.core.data.featureSelectionContribution"
            targetID="org.polymap.core.data.FeatureSelectionView">
         <!--action
               class="org.polymap.core.data.operations.feature.CopyGeoSelectionFeaturesAction"
               icon="icons/etool16/copy_features.gif"
               id="org.polymap.core.data.CopyGeoSelectionFeaturesAction"
               label="%actions_copyFeatures"
               style="push"
               toolbarPath="data">
         </action-->
         <action
               class="org.polymap.core.data.feature.filter.AddFilterProcessorAction"
               icon="icons/etool16/filter.gif"
               id="org.polymap.core.data.AddFilterProcessorAction"
               label="%AddFilterProcessorAction_label"
               style="push"
               toolbarPath="data"
               tooltip="%AddFilterProcessorAction_tip">
         </action>
         <action
               class="org.polymap.core.data.ui.featureselection.ZoomFeatureSelectionAction"
               icon="icons/elcl16/zoom_selection_co.gif"
               id="org.polymap.core.data.ui.featureselection.ZoomSelectionAction"
               label="Zoom auf Auswahl"
               style="push"
               toolbarPath="data">
         </action>
         <action
               class="org.polymap.core.data.ui.featureselection.Replace"
               icon="icons/etool16/select_replace.gif"
               id="org.polymap.core.data.FeatureSelectionMode"
               label="REPLACE"
               menubarPath="selection"
               state="true"
               style="radio"
               toolbarPath="selection">
         </action>
         <action
               class="org.polymap.core.data.ui.featureselection.Add"
               icon="icons/etool16/select_add.gif"
               id="org.polymap.core.data.FeatureSelectionMode_add"
               label="ADD"
               menubarPath="selection"
               style="radio"
               toolbarPath="selection">
         </action>
         <action
               class="org.polymap.core.data.ui.featureselection.Intersect"
               icon="icons/etool16/select_intersect.gif"
               id="org.polymap.core.data.FeatureSelectionMode_intersect"
               label="INTERSECT"
               menubarPath="selection"
               style="radio"
               toolbarPath="selection">
         </action>
         <action
               class="org.polymap.core.data.ui.featureselection.Difference"
               icon="icons/etool16/select_difference.gif"
               id="org.polymap.core.data.FeatureSelectionMode_difference"
               label="DIFF"
               menubarPath="selection"
               style="radio"
               toolbarPath="selection">
         </action>
         <menu
               id="org.polymap.core.data.selectionModeMenu"
               label="MODE"
               path="selection">
         </menu>
      </viewContribution>
      <!--viewContribution
            id="org.polymap.core.data.catalogContribution"
            targetID="net.refractions.udig.catalog.ui.CatalogView">
         <action
               class="org.polymap.core.data.feature.recordstore.catalog.CreateRDataStoreAction"
               icon="icons/obj16/database_obj.gif"
               id="org.polymap.core.data.createRDataStoreAction"
               label="%actions_createRDataStore"
               menubarPath="data"
               style="push"
               toolbarPath="data"
               tooltip="%actions_createRDataStoreTip">
         </action>
      </viewContribution-->
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <!--concern
            class="org.polymap.core.data.ui.featureselection.LayerSelectableOperationConcern"
            id="org.polymap.core.data.layerSelectableConcern">
      </concern-->
      <concern
            class="org.polymap.core.data.image.cache304.CacheNewLayerOperationConcern"
            id="org.polymap.core.data.addLayerCacheConcern">
      </concern>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <dynamic
               class="org.polymap.core.data.operation.LayerMenuContribution"
               id="org.polymap.core.data.layerOperationMenuContribution">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </dynamic>
         <dynamic
               class="org.polymap.core.data.operation.GeoresMenuContribution"
               id="org.polymap.core.data.georesOperationMenuContribution">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.polymap.core.data.FeatureSelectionView">
         <dynamic
               class="org.polymap.core.data.operation.FeatureSelectionViewMenuContribution"
               id="org.polymap.core.data.operation.SelectionMenuContribution">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.polymap.core.data.FeatureSelectionView?after=data">
         <dynamic
               class="org.polymap.core.data.operation.FeatureSelectionViewMenuContribution"
               id="org.polymap.core.data.operation.SelectionMenuContribution2">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.core.data.operations.feature.CountFeaturesOperation"
            icon="icons/etool16/feature_ops.gif"
            id="org.polymap.core.data.CountFeaturesOperation"
            label="%CountFeaturesOperation_label"
            tooltip="%CountFeaturesOperation_label">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.report.ReportOperation"
            icon="icons/etool16/report.gif"
            id="org.polymap.core.data.ReportOperation"
            label="%ReportOperation_label"
            tooltip="%ReportOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.CopyFeaturesOperation2"
            icon="icons/etool16/copy_features.gif"
            id="org.polymap.core.data.CopyFeaturesOperation"
            label="%CopyFeaturesOperation_label"
            tooltip="%CopyFeaturesOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.IntersectFeaturesOperation"
            icon="icons/etool16/feature_ops.gif"
            id="org.polymap.core.data.IntersectFeaturesOperation"
            label="%IntersectFeaturesOperation_label"
            tooltip="%IntersectFeaturesOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.BufferFeaturesOperation"
            icon="icons/etool16/feature_ops.gif"
            id="org.polymap.core.data.BufferFeaturesOperation"
            label="%BufferFeaturesOperation_label"
            tooltip="%BufferFeaturesOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.RemoveFeaturesOperation"
            icon="icons/etool16/delete_edit.gif"
            id="org.polymap.core.data.RemoveFeaturesOperation"
            label="%RemoveFeaturesOperation_label"
            tooltip="%RemoveFeaturesOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.CsvExportFeatureOperation"
            icon="icons/etool16/exportas.gif"
            id="org.polymap.core.data.operations.feature.CsvExportFeatureOperation"
            label="%CsvExportFeatureOperation_label"
            tooltip="%CsvExportFeatureOperation_tip">
      </featureOperation>
      <featureOperation
            class="org.polymap.core.data.operations.feature.ShapeExportFeaturesOperation"
            icon="icons/etool16/exportas.gif"
            id="org.polymap.core.data.operations.feature.ShapeExportFeatureOperation"
            label="%ShapeExportFeaturesOperation_label"
            tooltip="%ShapeExportFeaturesOperation_tip">
      </featureOperation>
   </extension>
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.polymap.core.data.operation.DownloadServiceHandler"
            id="org.polymap.core.data.DownloadServiceHandler">
      </serviceHandler>
   </extension>
   <extension
         point="org.polymap.core.data.reports">
      <report
            class="org.polymap.core.data.report.HtmlReportFactory"
            id="org.polymap.core.data.HtmlReports">
      </report>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.polymap.core.data.feature.recordstore.catalog.RServiceExtension"
            id="org.polymap.core.data.RecordStoreServiceExtension"
            name="%RServiceExtension_label">
      </service>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="org.polymap.core.data.feature.recordstore.catalog.RConnectionFactory"
            id="org.polymap.core.data.RConnectionFactory">
      </factory>
      <wizardPage
            class="org.polymap.core.data.feature.recordstore.catalog.RConnectionPage"
            description="%RConnectionPage_description"
            icon="icons/etool16/add_database.gif"
            id="org.polymap.core.data.RConnectionFactory"
            name="%RConnectionPage_title">
      </wizardPage>
   </extension>
   <!--extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.polymap.core.data.feature.lucenestore.LuceneServiceImpl"
            id="org.polymap.core.data.LuceneService"
            name="Lucene">
      </service>
   </extension-->
</plugin>
