<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.polymap.catalog.h2.H2ServiceExtension"
            id="org.polymap.catalog.h2.H2Service"
            name="H2">
      </service>
   </extension>
   <!--extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="org.polymap.catalog.h2.ui.H2ConnectionFactory"
            id="org.polymap.catalog.h2.H2ConnectionFactory">
      </factory>
      <wizardPage
            class="org.polymap.catalog.h2.ui.H2UserHostPage"
            id="org.polymap.catalog.h2.wizardPage1"
            name="H2">
      </wizardPage>
   </extension-->
   <!--extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.catalog.h2.CatalogViewContribution"
            targetID="net.refractions.udig.catalog.ui.CatalogView">
         <action
               class="org.polymap.catalog.h2.actions.CreateH2Action"
               icon="icons/etool16/new_h2_db.png"
               id="org.polymap.catalog.h2.CreateH2Action"
               label="H2"
               menubarPath="data"
               style="push"
               tooltip="Eine neue, persönliche H2-Datenbank anlegen.">
         </action>
      </viewContribution>
   </extension-->

</plugin>
