<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.polymap.core.http.servlets" name="HttpServlets" schema="schema/servlets.exsd"/>
   <extension-point id="org.polymap.core.data.ows.wms" name="WMS Server" schema="schema/org.polymap.core.data.ows.wms.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.core.workbench.PolymapWorkbench"
            id="polymap3.core.entrypoint1"
            parameter="default">
      </entrypoint>
      <entrypoint
            class="org.polymap.core.workbench.UdigWorkbench"
            id="org.polymap.core.entrypoint.udig"
            parameter="udig">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.polymap.core.workbench.polymapToolbar">
            <command
                  commandId="org.polymap.core.workbench.actions.CreatePdfCommand"
                  icon="icons/etool16/exportapp_wiz.gif"
                  id="org.polymap.core.workbench.toolbars.CreatePdfCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="POLYMAP Workbench Kategorie"
            id="org.polymap.core.workbench.category"
            name="Workbench Kategorie">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="polymap3.map"
            name="Polymap">
      </category>
   </extension>
   <!--extension
         point="net.refractions.udig.project.ui.editorInputs">
      <editorInput
            editorPartID="org.polymap.core.data.render.mapEditor"
            projectElement="net.refractions.udig.project.internal.impl.MapImpl"
            class="net.refractions.udig.project.ui.internal.MapEditorInput"
            name="net.refractions.udig.project.internal.ui.mapEditorInput"/>
   </extension-->
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.core.http.TestServlet"
            name="Test"
            path="/test">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.polymap.core.branding1"
            servletName="polymap"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="POLYMAP3 Workbench">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.polymap.core.operations.actions.undoRedo"
            label="%actionsets_undoRedo"
            visible="true">
         <action
               class="org.polymap.core.operation.actions.RedoAction"
               icon="icons/etool16/redo_edit.gif"
               id="org.polymap.core.operation.actions.Redo"
               label="%actions_redo"
               menubarPath="edit/undo"
               style="push"
               toolbarPath="undo"
               tooltip="%actions_redoTip">
         </action>
         <action
               class="org.polymap.core.operation.actions.UndoAction"
               icon="icons/etool16/undo_edit.gif"
               id="org.polymap.core.operation.actions.Undo"
               label="%actions_undo"
               menubarPath="edit/undo"
               style="push"
               toolbarPath="undo"
               tooltip="%actions_undoTip">
         </action>
      </actionSet>
      <actionSet
            id="org.polymap.core.operations.actions.saveRevert"
            label="%actionsets_saveRevert"
            visible="true">
         <action
               class="org.polymap.core.operation.actions.RevertChangesAction"
               icon="icons/elcl16/trash.gif"
               id="org.polymap.core.operation.actions.Revert"
               label="%actions_revert"
               menubarPath="edit/save"
               style="push"
               toolbarPath="undo"
               tooltip="%actions_revertTip">
         </action>
         <action
               class="org.polymap.core.operation.actions.MergeChangesAction"
               icon="icons/elcl16/up_nav.gif"
               id="org.polymap.core.operation.actions.Merge"
               label="%actions_merge"
               menubarPath="edit/save"
               style="push"
               toolbarPath="undo"
               tooltip="%actions_mergeTip">
         </action>
         <action
               class="org.polymap.core.operation.actions.SaveChangesAction"
               icon="icons/etool16/save_edit.gif"
               id="org.polymap.core.operation.actions.Save"
               label="%actions_save"
               menubarPath="edit/save"
               style="push"
               toolbarPath="undo"
               tooltip="%actions_saveTip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="defaultTheme.css"
            themeId="org.eclipse.rap.rwt.theme.Default">
      </themeContribution>
   </extension>
   <extension
         id="org.polymap.core.security.DummyLoginModule"
         name="Dummy Login"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.polymap.core.security.DummyLoginModule">
      </loginModule>
   </extension>
   <extension
         id="org.polymap.core.security.DummyCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="org.polymap.core.security.LoginDialog">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.polymap.core.security.DummyCallbackHandler"
            configName="POLYMAP">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.activities.ActivitiesPreferencePage"
            id="org.polymap.core.ActivitiesPrefsPage"
            name="Activities">
      </page>
      <page
            class="org.polymap.core.security.DummyLoginPreferences"
            id="org.polymap.core.security.DummyLoginPreferences"
            name="%prefpages_dummy_title">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.helpSupport">
      <config
            class="org.polymap.core.help.HelpUI">
      </config>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
