<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.rhei.form.pageProviders" name="FormPageProviders" schema="schema/form.pageProviders.exsd"/>
   <extension-point id="org.polymap.rhei.filter.filterProviders" name="FilterProviders" schema="schema/form.filterProviders.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.polymap.rhei.ViewsCategory"
            class="org.polymap.rhei.navigator.RheiNavigator"
            id="org.polymap.rhei.RheiNavigator"
            name="%NavigatorView_name"
            restorable="true">
      </view>
      <category
            id="org.polymap.rhei.ViewsCategory"
            name="%ViewsCategory_name">
      </category>
      <view
            allowMultiple="false"
            class="org.polymap.rhei.calculator.editor.ConsoleView"
            icon="icons/eview16/console_view.gif"
            id="org.polymap.rhei.calculator.editor.ConsoleView"
            name="Console"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.polymap.rhei.ViewsCategory"
            class="org.polymap.rhei.filter.FilterView"
            icon="icons/eview16/filter_view.gif"
            id="org.polymap.rhei.FilterView"
            name="%FilterView_name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polymap.rhei.form.FormEditor"
            default="false"
            icon="icons/eview16/form_editor.gif"
            id="org.polymap.rhei.form.FormEditor"
            name="Form">
      </editor>
      <editor
            class="org.polymap.rhei.calculator.editor.ScriptEditor"
            default="false"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.calculator.editor.ScriptEditor"
            name="Script">
      </editor>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.viewer">
      <viewer
            viewerId="org.polymap.rhei.RheiNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.polymap.rhei.RheiNavigator">
         <includes>
            <contentExtension
                  pattern="org.polymap.rhei.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.polymap.rhei.RheiNavigator">
         <includes>
            <actionExtension
                  pattern="org.polymap.rhei.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.rhei.navigator.LayerContentProvider"
            id="org.polymap.rhei.navigator.layerContent"
            labelProvider="org.polymap.rhei.navigator.LayerLabelProvider"
            name="%LayerContent_name"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.polymap.core.project.ILayer">
               </instanceof>
               <instanceof
                     value="org.polymap.core.project.IMap">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.rhei.internal.filter.FilterContentProvider"
            icon="icons/etool16/search.gif"
            id="org.polymap.rhei.filter.FilterContent"
            labelProvider="org.polymap.rhei.internal.filter.FilterLabelProvider"
            name="%FilterContent_name">
         <triggerPoints>
            <instanceof
                  value="org.polymap.core.project.ILayer">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.polymap.rhei.internal.filter.FilterActionProvider"
            id="org.polymap.rhei.filter.FilterActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="org.polymap.rhei.filter.IFilter">
               </instanceof>
               <instanceof
                     value="org.polymap.rhei.internal.filter.FiltersFolderItem">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.rhei.featureTableContribution"
            targetID="org.polymap.core.data.ui.featureTable.view">
         <!--action
               class="org.polymap.rhei.internal.form.NewFormAction"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.NewFormAction"
               label="%actions_newForm"
               style="push"
               toolbarPath="rhei"
               tooltip="%actions_newFormTip">
         </action-->
         <action
               class="org.polymap.rhei.internal.csv.DownloadCSVAction"
               icon="icons/etool16/export_csv.gif"
               id="org.polymap.rhei.DownloadCsvAction"
               label="%actions_downloadCsv"
               style="push"
               toolbarPath="rhei"
               tooltip="%actions_downloadCsvTip">
         </action>
         <action
               class="org.polymap.rhei.internal.form.OpenFormAction"
               enablesFor="+"
               icon="icons/etool16/open_form_editor.gif"
               id="org.polymap.rhei.OpenFormAction"
               label="%actions_openForm"
               style="push"
               toolbarPath="rhei"
               tooltip="%actions_openFormTip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.rhei.layerContribution1"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.rhei.internal.form.NewFormAction"
               enablesFor="+"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.layerNewFormAction"
               label="%actions_newForm"
               style="push"
               tooltip="%actions_newFormTip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.rhei.form.StandardPageProvider"
            id="org.polymap.rhei.form.StandardPageProvider"
            name="StandardPageProvider">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.rhei.internal.csv.CsvServlet"
            name="CsvServlet"
            path="/csv">
      </servlet>
   </extension>

</plugin>
