<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.rhei.form.pageProviders" name="FormPageProviders" schema="schema/form.pageProviders.exsd"/>
   <extension-point id="org.polymap.rhei.filter.filterProviders" name="FilterProviders" schema="schema/form.filterProviders.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.polymap.rhei.ViewsCategory"
            name="%ViewsCategory_name">
      </category>
      <view
            allowMultiple="false"
            class="org.polymap.rhei.calculator.editor.ConsoleView"
            icon="icons/eview16/console_view.gif"
            id="org.polymap.rhei.calculator.editor.ConsoleView"
            name="Console"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="org.polymap.rhei.ViewsCategory"
            class="org.polymap.rhei.filter.FilterView"
            icon="icons/eview16/filter_view.gif"
            id="org.polymap.rhei.FilterView"
            name="%FilterView_name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polymap.rhei.form.FormEditor"
            default="false"
            icon="icons/eview16/form_editor.gif"
            id="org.polymap.rhei.form.FormEditor"
            name="Form">
      </editor>
      <editor
            class="org.polymap.rhei.calculator.editor.ScriptEditor"
            default="false"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.calculator.editor.ScriptEditor"
            name="Script">
      </editor>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.polymap.core.project.LayerNavigator">
         <includes>
            <contentExtension
                  pattern="org.polymap.rhei.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.polymap.core.project.LayerNavigator">
         <includes>
            <actionExtension
                  pattern="org.polymap.rhei.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.rhei.navigator.filter.FilterContentProvider"
            icon="icons/etool16/search.gif"
            id="org.polymap.rhei.filter.FilterContent"
            labelProvider="org.polymap.rhei.navigator.filter.FilterLabelProvider"
            name="%FilterContent_name">
         <triggerPoints>
            <instanceof
                  value="org.polymap.core.project.ILayer">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.polymap.rhei.navigator.filter.FilterActionProvider"
            id="org.polymap.rhei.filter.FilterActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="org.polymap.rhei.filter.IFilter">
               </instanceof>
               <instanceof
                     value="org.polymap.rhei.navigator.filter.FiltersFolderItem">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.rhei.featureTableContribution"
            targetID="org.polymap.core.data.FeatureSelectionView">
         <!--action
               class="org.polymap.rhei.internal.form.NewFormAction"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.NewFormAction"
               label="%actions_newForm"
               style="push"
               toolbarPath="rhei"
               tooltip="%actions_newFormTip">
         </action-->
         <!--action
               class="org.polymap.rhei.internal.csv.DownloadCSVAction"
               icon="icons/etool16/export_csv.gif"
               id="org.polymap.rhei.DownloadCsvAction"
               label="%actions_downloadCsv"
               style="push"
               toolbarPath="data"
               tooltip="%actions_downloadCsvTip">
         </action-->
         <action
               class="org.polymap.rhei.internal.form.OpenFormAction"
               enablesFor="+"
               icon="icons/etool16/open_form_editor.gif"
               id="org.polymap.rhei.OpenFormAction"
               label="%actions_openForm"
               state="false"
               style="push"
               toolbarPath="rhei"
               tooltip="%actions_openFormTip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.rhei.layerContribution"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.rhei.internal.form.NewFormAction"
               enablesFor="+"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.layerNewFormAction"
               label="%actions_newForm"
               style="push"
               tooltip="%actions_newFormTip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.polymap.rhei.featureContribution"
            objectClass="org.polymap.core.data.ui.featuretable.IFeatureTableElement">
         <action
               class="org.polymap.rhei.internal.form.OpenFormAction"
               icon="icons/etool16/open_form_editor.gif"
               id="org.polymap.rhei.OpenFormAction_feature"
               label="%actions_openForm"
               style="push"
               tooltip="%actions_openFormTip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.rhei.form.StandardPageProvider"
            id="org.polymap.rhei.form.StandardPageProvider"
            name="StandardPageProvider">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.rhei.filter.filterProviders">
      <filterProvider
            class="org.polymap.rhei.navigator.filter.StandardFilterProvider"
            id="org.polymap.rhei.StandardFilterProvider"
            name="StandardFilterProvider">
      </filterProvider>
   </extension>
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.rhei.internal.csv.CsvServlet"
            name="CsvServlet"
            path="/csv">
      </servlet>
   </extension>
   <!--extension
         point="net.refractions.udig.ui.dropAction">
      <action
            class="org.polymap.rhei.navigator.layer.AddLayerToMapDropAction"
            enablesFor="+"
            name="AddLayerToMapDropAction">
         <destination
               class="org.polymap.rhei.navigator.RheiNavigator">
         </destination>
         <acceptedType
               adapt="true"
               class="net.refractions.udig.catalog.IGeoResource">
         </acceptedType>
         <destination
               class="org.polymap.core.project.IMap">
         </destination>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
      </action>
      <action
            class="org.polymap.core.project.ui.dnd.LayerOrderDropAction"
            name="SortLayerDropAction">
         <destination
               class="org.polymap.core.project.ui.layer.MapLayersView">
         </destination>
         <acceptedType
               class="org.polymap.core.project.ILayer">
         </acceptedType>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
      </action>
   </extension-->
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.rhei.internal.form.NewFeatureOperationConcern"
            id="org.polymap.rhei.NewFeatureOperationConcern">
      </concern>
   </extension>
   <extension
         point="org.polymap.core.mapeditor.mapContextMenu">
      <contribution
            class="org.polymap.rhei.internal.form.OpenFormMapContextMenu"
            id="org.polymap.rhei.OpenFormContextMenu">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.polymap.rhei.form.FormEditorInput"
            id="org.polymap.rhei.FormEditorInputFactory">
      </factory>
   </extension>

</plugin>
