<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.polymap.styler.ui.StyleView"
            icon="icons/style_tsk.gif"
            id="org.polymap.styler.ui.StyleView"
            name="%STYLE"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.styler.viewContribution1"
            targetID="org.polymap.core.project.MapLayersView">
         <action
               class="org.polymap.styler.actions.EditStyleAction"
               enablesFor="+"
               icon="icons/style_tsk.gif"
               id="org.polymap.styler.action1"
               label="%EDIT_STYLE"
               state="true"
               style="push"
               toolbarPath="style">
         </action>
      </viewContribution>
   </extension>
   
  
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.styler.viewContribution1"
            targetID="org.polymap.styler.ui.StyleView">
         <action
               class="org.polymap.styler.actions.CommitStyleAction"
               icon="icons/apply_co.gif"
               id="org.polymap.styler.action1"
               label="%COMMIT_STYLE"
               state="true"
               style="push"
               toolbarPath="style">
         </action>
      </viewContribution>
   </extension>
   
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
			targetID="org.polymap.styler.ui.StyleView"
			id="org.eclipse.jdt.debug.ui.VariableViewActions" >
		<action
			class="org.polymap.styler.actions.ToggleExpertAction"
			helpContextId="show_functions_context"
			id="org.eclipse.jdt.debug.ui.variableViewActions.ShowFunctionsAction"
			label="%EXPERT_MODE"
			menubarPath="style"
			style="toggle"
			tooltip="%EXPERT_MODE">
		</action>
	</viewContribution>
	
</extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.core.mapeditor.layersContribution"
            objectClass="org.polymap.core.project.ILayer">
            <action
                  class="org.polymap.styler.actions.EditStyleAction"
                  enablesFor="+"
                  icon="icons/style_tsk.gif"
                  id="org.polymap.styler.action1"
                  label="%EDIT_STYLE"
                  state="true"
                  style="push">
         </action>
      </objectContribution>
    </extension>
    
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.polymap.styler.ui.StylerPropertyPage"
            id="org.polymap.styler.ui.StylerPropertyPage"
            name="Styler">
         <enabledWhen>
            <instanceof
                  value="org.polymap.core.project.ILayer">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
</plugin>
